<nav class="">
  <div class="container">
    <a class="" href="/">BlingBling</a>
    <button class="" type="button" data-toggle="collapse" data-target=""
      aria-controls="" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="" id="">
      <ul class="">
        <li class=">
          <a class="" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropDownMenuLink">Story Ideas</a>
          <div class="dropdown-menu">
            <a href="/blings" class="dropdown-item">Console</a>
            <a href="/blings/add" class="dropdown-item">Bling</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="/users/logout" class="nav-link">Logout</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a href="/users/login" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a href="/users/register" class="nav-link">Register</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>