<div class="jumbotron text-center">
  <h3 class="display-3">{{title}}</h3>
  <p class="lead">Keep track of all your story ideas!</p>
  <a href='/ideas/add' class='btn btn-dark btn-lg'>Add Story Idea</a>
</div>