<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <script src="index.js"></script>
    <title>blingbling - when some ideas or note comes to mind.</title>
</head>
<body>
    <div class="container">
        <header>
          <h1>BlingBling</h1>
        </header>
        <main>
          <section>
            <h2>Login</h2>
            <form id="js-login-form">
              <label for="username-entry">Username:</label>
              <input type="text" name="username-entry" id="js-username">
              <br>
              <label for="password-entry">Password:</label>
              <input type="text" name="password-entry" id="js-password">
              <br>
              <button type="submit">Enter</button>
            </form>
  
            <ul class="shopping-list js-shopping-list">
            </ul>
          </section>
        </main>
      </div>
</body>
</html>