* {
    box-sizing: border-box;
}

body {
    background-color: #b3e5fc;
    color: #1a237e;
    text-align: center;
}

#js-login-form {
    display: block;
}

.navbar {
    width: 100%;
    background-color: silver;
}

li {
    list-style: none;
    display: inline;
}

ul {
    list-style-type: none;
}

h3 {
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
}