<div class="card card-body">
  <h3>Edit</h3>
  <form action="/blings/{{bling.id}}?_method=PUT" method="post">
    <input type="hidden" name="_method" value="PUT">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" value="{{bling.title}}" required>
    </div>
    <div class="form-group">
      <label for="bling">Bling</label>
      <textarea name="bling" class="form-control" value="{{bling.bling}}" required>{{bling.bling}}</textarea>
    </div>
    <button type="submit" class="">Submit</button>
  </form>
</div>